target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/*
.idea/
/*/target/
/*/*/target/
/*/.idea
*.iml
.DS_Store
*.jar
/*/runner/

JavaShooterSandbox/branding/target/classes/META-INF/MANIFEST.MF
JavaShooterSandbox/branding/target/JavaShooterSandbox-branding-1.0-SNAPSHOT.jar
JavaShooterSandbox/branding/target/JavaShooterSandbox-branding-1.0-SNAPSHOT.nbm
JavaShooterSandbox/branding/target/nbm/JavaShooterSandbox-branding-1.0-SNAPSHOT.nbm
JavaShooterSandbox/branding/target/nbm/netbeans/javashootersandbox/core/locale/core_javashootersandbox.jar
JavaShooterSandbox/branding/target/nbm/netbeans/javashootersandbox/modules/locale/org-netbeans-core-windows_javashootersandbox.jar
JavaShooterSandbox/branding/target/nbm/netbeans/javashootersandbox/modules/locale/org-netbeans-core_javashootersandbox.jar
JavaShooterSandbox/branding/target/nbm/netbeans/javashootersandbox/modules/org-example-JavaShooterSandbox-branding.jar
JavaShooterSandbox/branding/target/nbm/netbeans/javashootersandbox/update_tracking/org-example-JavaShooterSandbox-branding.xml
JavaShooterSandbox/Client/target/classes/META-INF/MANIFEST.MF
JavaShooterSandbox/Client/target/Client-1.0-SNAPSHOT.jar
JavaShooterSandbox/Client/target/Client-1.0-SNAPSHOT.nbm
JavaShooterSandbox/Client/target/nbm/Client-1.0-SNAPSHOT.nbm
JavaShooterSandbox/Client/target/nbm/netbeans/javashootersandbox/modules/org-example-Client.jar
JavaShooterSandbox/Client/target/nbm/netbeans/javashootersandbox/update_tracking/org-example-Client.xml
JavaShooterSandbox/Player/target/classes/META-INF/MANIFEST.MF
JavaShooterSandbox/Player/target/nbm/netbeans/javashootersandbox/modules/org-example-Player.jar
JavaShooterSandbox/Player/target/nbm/netbeans/javashootersandbox/update_tracking/org-example-Player.xml
JavaShooterSandbox/Player/target/nbm/Player-1.0-SNAPSHOT.nbm
JavaShooterSandbox/Player/target/Player-1.0-SNAPSHOT.jar
JavaShooterSandbox/Player/target/Player-1.0-SNAPSHOT.nbm
JavaShooterSandbox/Services/target/classes/META-INF/MANIFEST.MF
JavaShooterSandbox/Services/target/nbm/netbeans/javashootersandbox/modules/org-example-Services.jar
JavaShooterSandbox/Services/target/nbm/netbeans/javashootersandbox/update_tracking/org-example-Services.xml
JavaShooterSandbox/Services/target/nbm/Services-1.0-SNAPSHOT.nbm
JavaShooterSandbox/Services/target/Services-1.0-SNAPSHOT.jar
JavaShooterSandbox/Services/target/Services-1.0-SNAPSHOT.nbm
